@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.header{
    height: 800px;
    background-image: url(../img/slider-img.jpg);
    position: relative;
}
/*shadow*/
.slider__link-order_shadow,
.product-view4__link_shadow,
.product-view2__link-order_shadow{
    background-color: #FFF;
    -webkit-box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
/*clear*/
.product-view4,
.product-view2,
.product-view6{
    clear: both;
}
/*---navigation---*/
.navigation{
    padding: 63px 167px 0 98px;
}
.logo{
    display: inline-block;
}
.menu{
    float: right;
    list-style-type: none;
}
.menu__item{
    display: inline-block;
}
.menu__link-item{
    display: block;
    padding: 6px 12px;
    color:  #8c8c8c;
    font-size: 0.875em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu__link-item_active,
.menu__link-item:hover{
    color:  #212121;
    font-weight: 700;
    border-bottom: 3px solid #0c0c0d;
}
.menu__link-item::after {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.menu__link-search{
    display: block;
    padding-left:12px;
}
.menu__search-icon{
    position: relative;
    top:4px;
}
.menu__search-icon:hover{
    opacity: 0.6;
}
/*---slider---*/
.slider{
    margin-left: 98px;
    margin-top: 288px;
    width: 500px;
}
.slider__above-header,
.product-view2__above-header{
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
}
.slider__above-header_green{
    color: #43a047;
}
.slider__header{
    color:  #212121;
    font-size: 3.875em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -4px;
    padding-bottom: 8px;
}
.slider__text,
.product-view2__text{
    color:  #6c6c6c;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.714;
}
.slider__link-order,
.product-view2__link-order{
    display: inline-block;
    margin-top: 32px;
    padding: 14px 30px;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    color:  #212121;
    letter-spacing:3px; 
    text-decoration: none;
    border-radius:28px;
    border: none;
}
.slider__link-order:hover{
    color: #FFF;
    background-color: #43a047;
}
.order__arrow{
    padding-left: 10px; 
}
.bullet{
    list-style-type: none;
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
    
}
.bullet__item{
    list-style-type: none;
    display: inline-block;
    background-color:  rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    border-radius:15px;
    cursor: pointer;
}
.bullet__item:hover{
    background-color:  rgba(33, 33, 33, 0.8);
}
.bullet__item_active{
    width: 40px;
    height: 40px;
    border-radius:20px;
    background-color:  rgba(33, 33, 33, 1);
    position: relative;
    top:-5px;
}

/*view product 1X4: 1 row and 4 images*/
.product-view4{
    padding: 120px 98px; 
    overflow: hidden;
    clear: both;
}
.section-top{
    margin-bottom: 50px;
    overflow: hidden;
}
.section-top__header{
    float: left;
    color:  #6c6c6c;
    font-size: 2.25em;
    font-weight: 700;
    border-bottom: 1px solid #6c6c6c;
    line-height: 1;
    padding:0 10px 10px 10px;
    cursor: pointer;
}
.section-top__header_active{
    color:  #212121;
    padding-bottom: 8px;
    border-bottom: 3px solid #212121;
}
.section-top__link-explore{
    float: right;
    color:  #6c6c6c;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.25em;
    text-decoration: none;
    text-transform: uppercase;
}
.section-top__link-explore:hover{
    color:  #212121;
}
.product-view4__list{
    clear: both;
    list-style-type: none;
}
.product-view4__item{
    position: relative;
    width: 270px;
    height: 270px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    outline: 1px solid #eee;
}
.product-view4__item:hover{
    cursor: pointer;
}
.product-view4__item:hover .product-view4__descr{
    display: block;
}
.product-view4__item:first-child{
    margin-left: 0px;
}
.product-view4__item:last-child{
    margin-right: 0px;
}
.product-view4__descr{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 270px;
    text-align: center;
    padding: 62px 32px 20px 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgba(255,255,255,0.9);
}
.product-view4__link{
    display: inline-block;
    width: 48px;
    height: 48px;
    text-decoration: none;
    color: #212121;
    border-radius:24px;
}
.product-view4__link:hover{
    color: #6c6c6c;
}
.product-view4__arrow{
    font-size: 2em;
    margin-top: 9px;
    margin-left: 3px;
}
.product-view4__header{
    color:  #212121;
    font-size: 1.369em;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 23px;
}
.product-view__text{
    color:  #6c6c6c;
    font-size: 0.871em;
    font-weight: 300;
    line-height: 1.578;
}

/*view product 1X2: 1 row and 2 images*/
.product-view2__item{
    list-style-type: none;
    float: left;
    width: 683px;
    height: 683px;
}
.product-view2__item_first{
    background-image: url(../img/promo-img1.jpg);
}
.product-view2__item_second{
    background-image: url(../img/promo-img.jpg);
}
.product-view2__descr{
    padding-left: 51px;
    padding-top: 228px;
    width: 400px;
}
.product-view2__above-header_blue{
    color:  #1e88e5;
}
.product-view2__header{
    color:  #212121;
    font-size: 2.25em;
    font-weight: 700;
    margin-top: 18px;
}
.product-view2__link-order:hover{
    background-color: #1e88e5;
    color: #FFF;
}
