@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.header{
    height: 800px;
    background-image: url(../img/slider-img.jpg);
    position: relative;
}
/*shadow*/
.slider__link-order_shadow,
.product-view4__link_shadow{
    background-color: #FFF;
    -webkit-box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
/*clear*/
.product-view4,
.product-view2,
.product-view6,
.product-view5,
.banner{
    clear: both;
}
/*---navigation---*/
.navigation{
    padding: 63px 167px 0 98px;
}
.logo{
    display: inline-block;
}
.menu{
    float: right;
    list-style-type: none;
}
.menu__item{
    display: inline-block;
}
.menu__link-item{
    display: block;
    padding: 6px 12px;
    color:  #8c8c8c;
    font-size: 0.875em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu__link-item_active,
.menu__link-item:hover{
    color:  #212121;
    font-weight: 700;
    border-bottom: 3px solid #0c0c0d;
}
.menu__link-item::after {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.menu__link-search{
    display: block;
    padding-left:12px;
}
.menu__search-icon{
    position: relative;
    top:4px;
}
.menu__search-icon:hover{
    opacity: 0.6;
}
/*---slider---*/
.slider{
    margin-left: 98px;
    margin-top: 288px;
    width: 500px;
}
.slider__above-header{
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
}
.slider__above-header_green{
    color: #43a047;
}
.slider__above-header_blue{
    color:  #1e88e5;
}
.slider__above-header_red{
    color:#e53935;
}
.slider__above-header_grey{
    color:#6c6c6c;
}
.slider__header-big{
    color:  #212121;
    font-size: 3.875em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -4px;
    line-height: 1.161;
    padding-bottom: 8px;
}
.slider__header-small{
    color:  #212121;
    font-size: 2.25em;
    font-weight: 700;
    margin-top: 18px; 
}
.slider__text{
    color:  #6c6c6c;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.714;
}
.slider__link-order{
    display: inline-block;
    margin-top: 32px;
    padding: 14px 30px;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    color:  #212121;
    letter-spacing:3px; 
    text-decoration: none;
    border-radius:28px;
    border: none;
}
.slider__link-order_green:hover{
    color: #FFF;
    background-color: #43a047;
}
.slider__link-order_blue:hover{
    color: #FFF;
    background-color: #1e88e5;
}
.slider__link-order_red:hover{
    color: #FFF;
    background-color: #e53935;;
}
.order__arrow{
    padding-left: 10px; 
}
.bullet{
    list-style-type: none;
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
    
}
.bullet__item{
    list-style-type: none;
    display: inline-block;
    background-color:  rgba(33, 33, 33, 0.2);
    width: 30px;
    height: 30px;
    border-radius:15px;
    cursor: pointer;
}
.bullet__item:hover{
    background-color:  rgba(33, 33, 33, 0.8);
}
.bullet__item_active{
    width: 40px;
    height: 40px;
    border-radius:20px;
    background-color:  rgba(33, 33, 33, 1);
    position: relative;
    top:-5px;
}

/*view product 1X4: 1 row and 4 images*/
.product-view4{
    padding: 120px 98px; 
    overflow: hidden;
}
.section-underline{
    margin-bottom: 50px;
    overflow: hidden;
}
.section-underline__header{
    float: left;
    color:  #6c6c6c;
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1;
    border-bottom: 1px solid #6c6c6c;
    padding:0 10px 10px 10px;
    cursor: pointer;
}
.section-underline__header_active{
    color:  #212121;
    padding-bottom: 8px;
    border-bottom: 3px solid #212121;
}
.section-underline__link-explore,
.section-top__link-explore{
    float: right;
    color:  #6c6c6c;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 2.5em;
    text-decoration: none;
    text-transform: uppercase;
}
.section-underline__link-explore:hover,
.section-top__link-explore:hover{
    color:  #212121;
}
.product-view4__list{
    clear: both;
    list-style-type: none;
}
.product-view4__item{
    position: relative;
    width: 270px;
    height: 270px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    outline: 1px solid #eee;
}
.product-view4__item:hover{
    cursor: pointer;
}
.product-view4__item:hover .product-view4__descr{
    display: block;
}
.product-view4__item:first-child{
    margin-left: 0px;
}
.product-view4__item:last-child{
    margin-right: 0px;
}
.product-view4__descr{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 270px;
    text-align: center;
    padding: 62px 32px 20px 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgba(255,255,255,0.9);
}
.product-view4__link{
    display: inline-block;
    width: 48px;
    height: 48px;
    text-decoration: none;
    color: #212121;
    border-radius:24px;
}
.product-view4__link:hover{
    color: #6c6c6c;
}
.product-view4__arrow{
    font-size: 2em;
    margin-top: 9px;
    margin-left: 3px;
}
.product-view4__header{
    color:  #212121;
    font-size: 1.369em;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 23px;
}
.product-view__text{
    color:  #6c6c6c;
    font-size: 0.871em;
    font-weight: 300;
    line-height: 1.578;
}

/*view product 1X2: 1 row and 2 images*/
.product-view2__item{
    list-style-type: none;
    float: left;
    width: 683px;
    height: 683px;
}
.product-view2__item_left{
    background-image: url(../img/promo-img1.jpg);
}
.product-view2__item_right{
    background-image: url(../img/promo-img.jpg);
}
.product-view2__content{
    padding-left: 51px;
    padding-top: 228px;
    width: 400px;
}

.product-view2__link-order:hover{
    background-color: #1e88e5;
    color: #FFF;
}
/*view product 2X3: 2 rows and 3 images*/
.product-view6{
    padding: 90px 98px;
    overflow: hidden;
}
.section-top{
    margin-top: 30px;
    margin-bottom: 64px;
    overflow: hidden;
}
.section-top__header{
    float: left;
    color:  #212121;
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: -1px;
}
.product-view6__item{
    list-style-type: none;
    float: left;
    padding-right: 30px;
    padding-bottom: 30px; 
}
.product-view6__item:nth-child(3n){
    padding-right:0;
}
.product-view6__link{
    display: block;
    width: 370px;
    height: 370px;
}

/*middle slider*/
.middle-slider{
    height: 800px;
    background-image: url(../img/slider.jpg);
    position: relative;
}
.middle-slider__content{
    padding-top:287px;
    padding-left:99px; 
    width: 500px;
}

/*view product 1 big and 4 small*/
.product-view5{
    padding: 120px 98px;
    overflow: hidden;
}
.product-view5__lg{
    width: 570px;
    height: 570px;
    margin-right: 15px;
    float: left;
    background-image: url(../img/product-1-lg.jpg);
}
.product-view5__content{
    padding-top: 186px;
    padding-left: 31px;
    width: 350px;
}
.product-view5__item:first-line{
    margin-bottom: 10px;  
}
.product-view5__item{
    list-style-type: none;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
.product-view5__item:nth-child(1),
.product-view5__item:nth-child(2){
    margin-bottom: 30px;
}
.product-view5__item:nth-child(2n){
    margin-right: 0;
}
.product-view5__link{
    display: block;
    width: 270px;
    height: 270px;
}
/*full-width banner*/
.banner{
    height: 516px;
    background-image: url(../img/back-img.jpg);
}
.banner__content{
    padding-top: 125px;
    padding-left: 98px;
    width: 420px;
}
.banner__text{
    color:  #6c6c6c;
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.091;
    padding-top: 0px;
    letter-spacing: -1px;
}
.banner__app-button{
    padding-top: 33px;
}
/*footer*/
.footer{
    padding: 120px 98px 30px 98px;
    background-color:  #f7f7f7;
    overflow: hidden;
}
.footer-data{
    overflow: hidden;
}
.footer-data__contact,
.footer-data__useful,
.footer-data__subscr{
   float: left; 
}
.footer-data__contact{
    width: 260px;
    margin-right: 15px;
}
.footer-data__useful{
    margin: 0 15px;
    width: 480px;
}
.footer-data__subscr{
    margin-left: 15px;
    width: 370px;
}
.footer-data__header{
    color:  #6c6c6c;
    font-size: 1.125em;
    font-weight: 700;
    padding-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-data__text{
    color:  #212121;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.571;
}
.footer-data__menu{
    float: left;
}
.footer-data__menu_margin{
    padding-right: 103px;
}
.footer-data__link{
    display: block;
    text-decoration: none;
    color:  #212121;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.857;
    text-transform: uppercase;
}
.footer-data__link:hover{
    text-decoration: underline;
}
.footer-data__form{
    
}
.footer-data__email{
    color:  #6c6c6c;
    font-size: 0.875em;
    font-weight: 300;
    border: 1px solid #d9dee1;
    background-color:  #ffffff;
    width: 330px;
    margin-top: 26px;
    padding: 14px 19px;
    outline: none;
}
.footer-data__email:focus{
    border: 1px solid #6c6c6c;
}
.footer-data__submit{
    width: 21px;
    height: 17px;
    background: none;
    background-image: url(../img/airplan.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -32px;
    right: 14px;
    float: right;
    cursor: pointer;
    border: none;
}
.bottom-info{
    padding-top: 77px;
}
.bottom-info__item{
    color: #6c6c6c;
    font-size: 0.75em;
    font-weight: 700;
    list-style-type: none;
    float: left;
    width: 370px;
    line-height: 28px;
}
.bottom-info__social-link{
    text-decoration: none;
    width: 28px;
    height: 28px;
    display: inline-block;
}
.bottom-info__social-link_facebook,
.bottom-info__social-link_twitter,
.bottom-info__social-link_googleplus,
.bottom-info__social-link_pinterest{
    background-image: url(../img/social-links.png); 
}
.bottom-info__social-link_twitter{
    background-position: -34px;
}
.bottom-info__social-link_googleplus{
    background-position: 62px;
}
.bottom-info__social-link_pinterest{
    background-position: 28px;
}
.bottom-info__link{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
.bottom-info__link:hover{
    text-decoration: underline;
}
.bottom-info__item_center{
    text-align: center;
    margin: 0 30px;
}
.bottom-info__item_right{
    text-align: right;
}
